<form class="m-4">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>AL</option>
                <option>PA</option>
                <option>NJ</option>
                <option>NY</option>
                <option>DE</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="itemName">Item Search Terms</label>
            <input type="text" class="form-control" id="itemName">
        </div>
        <div class="form-group col-md-1">
            <label for="itemSize">Size</label>
            <select id="itemSize" class="form-control">
                <option selected>Choose...</option>
                <option>XXS</option>
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="itemCategory">Item Category</label>
            <select id="itemCategory" class="form-control">
                <option selected>Choose...</option>
                <option>Gloves</option>
                <option>Spray Top</option>
                <option>Spray Pants</option>
                <option>Boots</option>
                <option>Life Jacket</option>
            </select>
        </div>
    </div>
    <!-- <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div> -->
    <button type="submit" class="btn btn-primary">Search</button>
</form>